<div class="d-flex justify-content-around information-container">
  <div class="d-flex flex-column align-items-center information-item">
    <img src="assets/shape/blue.svg" alt="">
    <div class="title">Design</div>
    <div class="info">The Faculty of Design offers modern teaching technologies in IT and applied fields</div>
  </div>
  <div class="d-flex flex-column align-items-center information-item">
    <img src="assets/shape/red.svg" alt="">
    <div class="title">History</div>
    <div class="info">Faculty of History presents a huge collection of knowledge about the history of design and art</div>
  </div>
  <div class="d-flex flex-column align-items-center information-item">
    <img src="assets/shape/green.svg" alt="">
    <div class="title">Art</div>
    <div class="info">Faculty of Art offers the creation of new artistic preferences in drawing, painting</div>
  </div>
</div>
