<div class="footer-container">
  <div class="d-flex up-side">
    <img src="assets/white-logo.svg" alt="">
    <div class="d-flex menu">
      <div>Faculties</div>
      <div>Grants</div>
      <div>Dormitory</div>
      <div>About</div>
      <div>Academics</div>
      <div>Contact</div>
    </div>
  </div>
  <div class="d-flex down-side">
    <div class="city-list">
      <div>Krakow</div>
      <div>Amsterdam</div>
      <div>Bali</div>
      <div>Germany</div>
      <div>Kiev</div>
    </div>
    <div class="d-flex flex-column website">
      <div class="website-list">
        <div>www.eurouniversity.com</div>
        <div>www.amsterdamunicity.com</div>
      </div>
      <div class="social">
        <img src="assets/be.svg" alt="">
        <img src="assets/facebook.svg" alt="">
        <img src="assets/instagram.svg" alt="">
        <img src="assets/robot.svg" alt="">
        <img src="assets/linkedin.svg" alt="">
        <img src="assets/twitter.svg" alt="">
        <img src="assets/google.svg" alt="">
      </div>
    </div>
    <img src="assets/gray-logo.svg" alt="">
  </div>
</div>
