.footer-container {
  padding: 35px 100px;
  height: 273px;
  background: #2D2D2D;
  .up-side {
    img {
      width: 141px;
      height: 35px;
    }
    .menu {
      margin-left: auto;
      div {
        cursor: pointer;
        margin-right: 50px;
        font-family: 'Epilogue';
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        color: rgba(255, 255, 255, 0.5);
      }
      div:last-child {
        margin-right: 0;
      }
    }
  }
  .down-side {
    .city-list {
      margin-top: 31px;
      div {
        font-family: 'Epilogue';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        color: rgba(255, 255, 255, 0.5);
      }
    }
    .website {
      margin-left: auto;
      .website-list {
        margin-top: 60px;
        div {
          cursor: pointer;
          padding-left: 5rem;
          font-family: 'Epilogue';
          font-style: normal;
          font-weight: 400;
          font-size: 17px;
          color: rgba(255, 255, 255, 0.5);
        }
        div:hover {
          text-decoration: underline;
        }
        div:last-child {
          margin-top: 10px;
        }
      }
      .social {
        margin-top: auto;
        img {
          cursor: pointer;
          margin-right: 32px;
        }
      }
    }
  }
}
