<div class="art-news-container">
  <div class="title">Art News</div>
  <div class="d-flex flex-wrap justify-content-around art-list">
    <div class="art-item">
      <img src="assets/art-news/first.png" alt="">
      <div class="art-title">Poligraphy 2023, The best style...</div>
      <div class="art-tag">
        <span class="blue">Design</span>
        <span class="green">Art</span>
      </div>
    </div>
    <div class="art-item">
      <img src="assets/art-news/second.png" alt="">
      <div class="art-title">History of Abstract: The Fashio...</div>
      <div class="art-tag">
        <span class="red">History</span>
        <span class="blue">Graphic Design</span>
      </div>
    </div>
    <div class="art-item">
      <img src="assets/art-news/third.png" alt="">
      <div class="art-title">Student in 2023, How will a futu...</div>
      <div class="art-tag">
        <span class="blue">Design</span>
        <span class="red">History</span>
      </div>
    </div>
    <div class="art-item">
      <img src="assets/art-news/fourth.png" alt="">
      <div class="art-title">New book about photography. Where</div>
      <div class="art-tag">
        <span class="blue">Design</span>
        <span class="green">Art</span>
      </div>
    </div>
    <div class="art-item">
      <img src="assets/art-news/fifth.png" alt="">
      <div class="art-title">Travel to Mexico. Who will go and why</div>
      <div class="art-tag">
        <span class="blue">Design</span>
        <span class="red">History</span>
        <span class="green">Art</span>
      </div>
    </div>
    <div class="art-item">
      <img src="assets/art-news/sixth.png" alt="">
      <div class="art-title">New disciplines </div>
      <div class="art-tag">
        <span class="red">Design</span>
        <span class="blue">History</span>
        <span class="green">Art</span>
      </div>
    </div>
  </div>
</div>
