<div class="d-flex justify-content-between align-items-center page-container">
  <div class="d-flex flex-column left-side">
    <div class="about">2022 | About Us</div>
    <div class="title">Visual <br> history</div>
    <div class="subtitle">
      The Greatest temple of art that creates <br>
      the future of Aesign and Art
    </div>
    <div class="btn-more">more</div>
    <div class="line"></div>
  </div>
  <div class="right-side">
    <img class="vertical-arrow" src="assets/vertical-arrow.svg" alt="">
    <div class="ml-auto red"></div>
    <img src="assets/logo-main-page.png" alt="">
    <div class="d-flex flex-column justify-content-end align-items-center green">
      watch video
      <img src="assets/arrow.svg" alt="">
    </div>
    <div class="d-flex justify-content-end menu-slider">
      <img class="active" src="assets/active-circle.svg" alt="">
      <img class="non-active" src="assets/circle.svg" alt="">
      <img src="assets/circle.svg" alt="">
      <img src="assets/arrow-2.svg" alt="">
    </div>
  </div>
</div>
