<div class="d-flex justify-content-between align-items-center page-container">
  <div class="d-flex flex-column left-side">
    <div class="about">2022 | About Us</div>
    <div class="title">Visual <br> history</div>
    <div class="subtitle">
      The Greatest temple of art that creates <br>
      the future of Aesign and Art
    </div>
    <div class="btn-more">more</div>
  </div>
  <div class="right-side">
    <div class="ml-auto red"></div>
    <img src="assets/logo-main-page.png" alt="">
    <div class="d-flex justify-content-center align-items-center green">
      watch video
      <div></div>
    </div>
  </div>
</div>
