.page-container {
  .left-side {
    .about {
      font-family: 'Epilogue';
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      color: #2D2D2D;
    }
    .title {
      margin-top: 35px;
      font-family: 'Epilogue';
      font-style: normal;
      font-weight: 700;
      font-size: 100px;
      color: #2D2D2D;
      line-height: 95px;
    }
    .subtitle {
      margin-top: 35px;
      font-family: 'Epilogue';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      color: #2D2D2D;
    }
    .btn-more {
      margin-top: 55px;
      font-family: 'Epilogue';
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      color: rgba(45, 45, 45, 0.5);
    }
    .line {
      height: 2px;
      width: 72px;
      background: rgba(45, 45, 45, 0.5);
    }
  }
  .right-side {
    margin-top: 50px;
    .vertical-arrow {
      position: absolute;
      top: 9.4rem;
      right: 27.5rem;
    }
    .red {
      position: absolute;
      right: 71px;
      top: 118px;
      width: 136px;
      height: 136px;
      background: #FF6250;
      border-radius: 0 810px 0 0;
    }
    .green {
      position: absolute;
      right: 27.1rem;
      top: 32rem;
      width: 137px;
      height: 136px;
      background: #009379;
      border-radius: 0 34px;
      font-family: 'Epilogue';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      color: rgba(254, 254, 254, 0.5);
      img {
        margin-bottom: 30px;
        margin-top: -8px;
      }
    }
    .menu-slider {
      margin-top: 13px;
      margin-left: auto;
      img {
        margin-right: 23px;
      }
      img:last-child {
        margin-right: 0;
      }
    }
  }
}
