.page-container {
  .left-side {
    .about {
      font-family: 'Epilogue';
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      color: #2D2D2D;
    }
    .title {
      margin-top: 35px;
      font-family: 'Epilogue';
      font-style: normal;
      font-weight: 700;
      font-size: 100px;
      color: #2D2D2D;
      line-height: 95px;
    }
    .subtitle {
      margin-top: 35px;
      font-family: 'Epilogue';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      color: #2D2D2D;
    }
    .btn-more {
      margin-top: 55px;
      font-family: 'Epilogue';
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      color: rgba(45, 45, 45, 0.5);
    }
  }
  .right-side {
    margin-top: 50px;
    .red {
      position: absolute;
      right: 71px;
      top: 118px;
      width: 136px;
      height: 136px;
      background: #FF6250;
      border-radius: 0 810px 0 0;
    }
    .green {
      position: absolute;
      right: 27.1rem;
      bottom: 11rem;
      width: 137px;
      height: 136px;
      background: #009379;
      border-radius: 0 34px;
      font-family: 'Epilogue';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      color: rgba(254, 254, 254, 0.5);

    }
  }
}
