<div class="d-flex justify-content-around feedback-form-container">
  <div class="left-side">
    <div class="title">Lets study together</div>
    <div class="subtitle">
      Apply for consideration  your resume, <br>
      we’ll give you feedback. Note: the time <br>
      of application is unlimited, if you are <br>
      invited to the training you can study at <br>
      any time
    </div>
    <img src="assets/shape/mix.svg" alt="">
  </div>
  <div class="right-side">
    <div class="name-form">
      <input type="text" placeholder="Name">
    </div>
    <div class="email-form">
      <input type="text" placeholder="Email">
    </div>
    <div class="text-area">
      <textarea cols="30" rows="10" placeholder="Type your message here"></textarea>
    </div>
    <div class="d-flex justify-content-center align-items-center btn-submit">Submit</div>
  </div>
</div>
